@charset "utf-8";


body {
    background-color: #eef3f5;
  }
  h1 {
    color: black;
    font-family: arial;

  }
  p {
    color: black;
    font-family: arial;
    text-align: justify;
  }